name_prefix = "mbernadin"
dcos_cluster_name = "Prod Cluster"
infra_disk_size = "128"
infra_machine_type = "Standard_DS11_v2"
infra_ssh_user = "core"
infra_dcos_instance_os = "coreos_1235.9.0"
infra_public_ssh_key_path = "~/.ssh/key.pub"
location = "West US"
dcos_version = "1.11.4"

####
####

num_masters = "3"
num_private_agents = "1"
num_public_agents = "1"
